[user]
	name = Gus
	email = yo@soygus.com
[alias]
  ac = !git add . -A && git commit -a
  po = !git push origin
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[http]
	postBuffer = 2M
[github]
	user = netpoe
[ghi]
	token = !security find-internet-password -a netpoe -s github.com -l 'ghi token' -w
[color]
	ui = true
