[user]
	name = Gus
	email = yo@soygus.com
[alias]
  	ac = !git add -A && git commit -a
	po = !git push origin
    pob = !git push origin $(git rev-parse --abbrev-ref HEAD)
    pub = !git push upstream $(git rev-parse --abbrev-ref HEAD)
    pof = !git push origin -f $(git rev-parse --abbrev-ref HEAD)
    puf = !git push upstream -f $(git rev-parse --abbrev-ref HEAD)
    rem = !git rebase master
    update = !git checkout master && git pull upstream master && git checkout - && git rebase master
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[http]
	postBuffer = 2M
[color]
	ui = true
